<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekbang.equipment.management.dao.DeviceRecordTableInfoMapper">
  <resultMap id="BaseResultMap" type="com.geekbang.equipment.management.model.DeviceRecordTableInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="prefix_name" jdbcType="VARCHAR" property="prefixName" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="row_number" jdbcType="INTEGER" property="rowNumber" />
    <result column="start_record_time" jdbcType="TIMESTAMP" property="startRecordTime" />
    <result column="end_record_time" jdbcType="TIMESTAMP" property="endRecordTime" />
    <result column="version_no" jdbcType="INTEGER" property="versionNo" />
  </resultMap>
</mapper>